<%- include('partials/header') %>
    <main class="container">
        <h1>
            <%= title %>
        </h1>
        <div class="category-list">
            <ul>
                <% projects.forEach(project=> { %>
                    <li>
                        <strong>
                            <a href="/project/<%= project.project_id %>">
                                <%= project.title %>
                            </a>
                        </strong>
                        by
                        <a href="/organization/<%= project.organization_id %>">
                            <%= project.organization_name %>
                        </a>
                        (<%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                            day: 'numeric' }) %>)
                    </li>
                    <% }); %>
            </ul>
        </div>

        <% if (user && user.role_name==='admin' ) { %>
            <p style="margin-top: 2rem;"><a href="/new-project">+ Add a new service project</a></p>
            <% } %>
    </main>
    <%- include('partials/footer') %>